# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---- Virtual Environment ----
backend/venv/
backend/.venv/

# ---- Node ----
frontend/node_modules/
frontend/.npm/
frontend/.yarn/
frontend/dist/

# ---- Environment variables ----
**/.env
**/.env.*

# ---- IDE / Editor ----
.vscode/
.idea/

# ---- OS Files ----
.DS_Store
Thumbs.db

# ---- Logs ----
*.log
